.welcome {
  background: var(--white);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.welcome h1, .welcome h3 {
  color: var(--grey);
  width: 100%;
}