.welcome {
  background: linear-gradient(to bottom, #efedeb, #FFFFFF);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.welcome h1, .welcome h3 {
  color: var(--grey);
  width: 100%;
  height: fit-content;
  text-align: center;
  font-size: 5vw;
  font-weight: 700;
  text-align: center;
  margin-top: 15%;
  color: #444;
}