.welcome {
  background: linear-gradient(to bottom, #efedeb, #FFFFFF);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.welcome h1, .welcome h3 {
  color: var(--grey);
  width: 100%;
  height: fit-content;
  text-align: center;
  font-size: 5vw;
  font-weight: 700;
  text-align: center;
  margin-top: 15%;
  color: #444;
}

.down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  right: 0%;
  z-index: 100;
  min-height: 1.5rem;
  font-size: 3rem;
}

.down-arrow h1 {
  margin: 0;
  color: #2b2b2b;
}

.down-arrow:hover {
  cursor: pointer;
}